img{
  width: 100%;
  height: auto;
}

.w3-container.hero-image{
  /*background: url('images/etusivun_kuva.jpg') no-repeat top fixed;
  background-size: cover;
*/
  width: 100%;
  height:auto;
  margin-bottom: 3em;
}
footer {
  margin-top: 3em;
}
