body{
  padding: 0;
  margin:0;
  background-color: #e2ac8e;
}
img{
  width: 100%;
  height: auto;
}

.w3-container.hero-image{

  width: 100%;
  height:auto;
  margin-bottom: 3em;
}
.etusivu{
  width:65%;
  margin: 0 auto;
}
footer {
  margin-top: 3em;
}
